<header>
    <nav>
        <a href="https://john-daley.github.io/websoft/work/report/me">Me</a> |
        <a href="https://john-daley.github.io/websoft/work/report/report">Report</a> | 
        <a href="https://john-daley.github.io/websoft/work/report/about">About</a> |
        <a href="https://john-daley.github.io/websoft/work/report/schools.html">Schools</a> |
    </nav>
</header>
<p>Swedish lotto numbers!! Good luck hope you win!</p>
    <br/>  <%= date %> 